.body-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  &-top {
    padding: 1rem 0;
    background-color: $color-primary;

    .wrap-container {
      @media (min-width: 582px) {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      @media (max-width: 581px) {
        text-align: center;
      }
    }
  }

  &-main {
    background-color: rgba($color-black, 0.9);

    header {
      margin: 0 auto;
      @media (min-width: 769px) {
        width: 80%;
        padding: 1rem 0;
      }
      @media (min-width: 582px) {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      @media (max-width: 581px) {
        width: 94%;
      }
    }
  }
}

.header {
  &-contact__list {
  }

  &-contact__link {
    font: {
      family: $font-primary;
      size: 2.2rem;
      weight: 600;
    }
  }

  &-brand {
    img {
      height: 8rem;
    }
  }

  &-nav {
    ul {
      @media (min-width: 582px) {
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      @media (max-width: 581px) {
        display: none;
        padding: 2rem 0;
        // background-color: $color-black;
        text-align: center;
      }
    }
    &__list + li {
      @media (min-width: 769px) {
        margin-left: 3rem;
      }
    }

    &__list {
      @media (max-width: 581px) {
        background-color: $color-primary;
        padding: 0.6rem 0;
        margin-bottom: 2px;
      }
    }

    &__link {
      @media (max-width: 581px) {
        display: block;
      }
    }
  }
}

.hamberger {
  animation-duration: 1.8s;
  animation-name: moveInRight;
  animation-timing-function: ease-out;
  &__line {
    width: 2.5rem;
    height: 0.2rem;
    background-color: $color-white;
    display: block;
    margin: 0.5rem auto;

    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  @media (min-width: 769px) {
    display: none;
  }

  @media (max-width: 768px) {
    padding-right: 1rem;
    position: absolute;
    top: 12rem;
    right: 4%;
    z-index: 99;
  }

  @media (min-width: 582px) {
    top: 7.5rem;
  }
}

.hamberger.is__active {
  .hamberger {
    &__line {
      margin: 0 auto 11px;
    }

    &__line:nth-child(2) {
      opacity: 0;
    }

    &__line:nth-child(1) {
      -webkit-transform: translateY(13px) rotate(45deg);
      -ms-transform: translateY(13px) rotate(45deg);
      -o-transform: translateY(13px) rotate(45deg);
      transform: translateY(13px) rotate(45deg);
    }

    &__line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(-45deg);
      -ms-transform: translateY(-13px) rotate(-45deg);
      -o-transform: translateY(-13px) rotate(-45deg);
      transform: translateY(-13px) rotate(-45deg);
    }
  }
}
