*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.body-wrap {
  position: relative;
}

.wrap-container {
  margin: auto;

  @media (min-width: 769px) {
    width: 80%;
  }

  @media (min-width: 583px) {
    width: 90%;
  }

  @media (max-width: 582px) {
    width: 94%;
  }
}

.section__header {
  padding-bottom: 5rem;
  text-align: center;
}
