.wrap-contact-page {
    padding-top: 20rem;
    @media (max-width: 581px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  .section-form {
    margin: 0 auto;
    display: flex;
    @media (min-width: 768px) {
      width: 80%;
    }
    @media (min-width: 582px) {
      width: 90%;
      padding: 10rem 0;
      flex-direction: row;
      justify-content: space-between;
    }
    @media (max-width: 581px) {
      flex-direction: column-reverse;
      width: 94%;
    }
  }
  
  .contact {
    &-location {
      @media (min-width: 768px) {
        width: 45%;
      }
  
      @media (max-width: 581px) {
        padding-bottom: 8rem;
        padding-top: 6rem;
        text-align: center;
      }
    }
  
    &-heading {
      @media (min-width: 768px) {
        width: 60%;
      }
      padding-bottom: 3rem;
    }
  }
  
  .location__map {
    .map-iframe {
      @media (min-width: 582px) {
        width: 100%;
        height: 400px;
      }
      @media (max-width: 581px) {
        width: 100%;
        height: 500px;
      }
    }
  }
