.btn {
  //   display: inline-block;
  border: none;
  font: {
    family: $font-heading;
    size: 1.8rem;
    weight: 400;
  }

  &-primary {
    padding: 0.5rem 2.5rem;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 0.5rem;
    transition: 300ms ease-in-out;

    &:hover {
      background-color: $color-primary-2;
    }
  }

  &-secondary {
    padding: 1.5rem 3.5rem;

    color: $color-white;
    background-color: $color-primary;
  }

  &-form {
    padding: 0.5rem 2.5rem;
    color: $color-white;
    background-color: $color-primary;
  }
}
