.btn{
    display: inline-block;
    border: none;
    font:{
        family: $font-heading;
        size: 2rem;
        weight: 400;
    }

    &-primary{

    }

    &-secondary{
        padding: 1.5rem 3.5rem;
        
        color: $color-white;
        background-color: $color-primary;
    }

    &-form{
        padding: 0.5rem 2.5rem;
        color: $color-white;
        background-color: $color-primary;
    }
}