
  // form
  .form {
    &__top {
      @media (min-width: 582px) {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        flex-wrap: wrap;
      }
    }
    &__row {
      padding-bottom: 2rem;
      @media (min-width: 582px) {
        width: 48%;
      }
  
      label {
        font-family: $font-heading;
      }
  
      >input {
        margin-top: 0.5rem;
        @media (min-width: 582px) {
          width: 90%;
        }
        @media (max-width: 581px) {
          width: 100%;
        }
  
        display: block;
        padding: 1rem 0.4rem;
      }

   
      

      .select-box{
        display: block;

        @media (min-width: 582px) {
          width: 90%;
        }
        @media (max-width: 581px) {
          width: 100%;
        }
  
        display: block;
        padding: 1rem 0.4rem; 

        option{
          padding: 2rem 2rem;
          font-size: 1.8rem;
          line-height: 5rem;
        }
      }
      ul{
        padding-top: 1rem;
        padding-right: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  
    &__middle {
      label {
        font-family: $font-heading;
      }
  
      textarea {
        min-height: 14rem;
        width: 92%;
        @media (max-width: 582px) {
          max-width: 100%;
        }
      }
      margin-bottom: 2rem;
    }

    
  
    button {
      border: none;
    }
  }

  .section-registration-form{


  .registration-textarea{
      width: 90%;
      label{
          display: block;
      }
    textarea{
        width: 100%;
        height: 10rem;

    }
  }
}