// COLOR

$color-primary: #ed1c24;
$color-primary-1: #c5181f;
$color-secondary: rgb(10, 15, 28);
$color-tertiary: #00aeef;

$color-nav-bg: #222;

$color-white: #fff;
$color-black: #000;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-gray-dark-4: #6b6b6b;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;

// font-family
/*
    fonts
    font-family: 'El Messiri', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

$font-primary: "Open Sans", sans-serif;
$font-heading: "El Messiri", sans-serif;
$font-nav: "El Messiri", sans-serif;
